[Desktop Entry]
Name=PWSP (Soundpad)
Comment=Lets you play audio files through your microphone
Exec=pwsp-gui %u
Icon=pwsp
Terminal=false
Type=Application
Categories=Audio