[Unit]
Description=Soundboard Daemon
After=pipewire.service

[Service]
ExecStart=soundboard-daemon
Restart=no
RuntimeDirectory=soundboard

[Install]
WantedBy=default.target
